<!DOCTYPE html>
<html lang="en">

  <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <meta name="google" content="notranslate">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/stylebase.css">
        {% include 'navbar.html' %}
  </head>
 
  <body>
        {% block content %} 

        
        {% endblock content %}
  </body>
 
  <footer class="footer">
    Copyright {{2020}}, BoostNewIdeas
  </footer>  
  
</html>

