{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/static/css/contactemail.css">
        <title>Contact</title>
    </head>
    <body> 
        <br>
        <br>

        <div class="container my-container">
            <div class="row my-row">
                <div class="col-md-8 col-sm-6 my-col">
                    <h3>Resume: available upon request!</h3> 
        
                    <p>
                        <a href = "mailto: griffinstef39@gmail.com">Request here</a>
                    
                    </p>
               </div>

               <br>
               <br>


               <div class="col-md-8 col-sm-6 my-co">
                <a href="{{ url_for('socialmedia') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Social Media</a>
                </div>

            </div>
        </div>
             
                
            </div>
        </div>
    </body>
</html>

{% endblock content %}

