{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/static/css/contactemail.css">
        <title>Contact</title>
    </head>
    <body> 

        <div class="container my-c">
            <div class="row my-r">
                <div class="col">
                     <h3>Resume: available upon request!</h3> 

                    <p>
                        Please don`t forget to add your information in your first email
            
                    </p>
            
                    <p>
                        <a href = "mailto: stephan.gribincea@gmail.com">Request here</a>
                       
                    </p>
                </div>

                <div class="col">

                    {% include 'contactfb.html' %}

                </div>

            </div>
        </div>
    </body>
</html>

{% endblock content %}

