{% extends 'base.html' %}

{% block content %}

    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/static/css/home.css">
    </head>

    

    
    <br>
    <br>
    <br>
    <br>
    <br>




        <div class="pimg1">
            <div class="ptext">
                <span class="border">
                    <h4>Main Page</h4>

                        <img src="{{ url_for('static', filename='images/2data.jpg')}}" class="img-rounded">
           
                </span>
            </div>
        </div>

    </body>
</html>

{% endblock content %}