{% extends 'base.html' %}

{% block content %}

    <head>
        <title>Home</title>
        <!-- <link rel="stylesheet" href="/static/css/stylehome.css"> -->
    </head>

    <body>
        <div class="pimg1">
            <div class="ptext">
                <span class="border">
                    <h2>App under construction!</h2>
                    
                    <h3>Please come back later.</h3>

                        <img src="{{ url_for('static', filename='images/2data.jpg')}}" class="img-rounded">
           
                </span>
            </div>
        </div>

    </body>
</html>

{% endblock content %}