{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit=no">
        <meta name="google" content="notranslate">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Projects</title>
    </head>
    <body> 
  
        <h2>Add projects here </h2>

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Language</th>
                <th scope="col">Framework</th>
                <th scope="col">Notes</th>
                <th scope="col">CLick Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Python</td>
                <td>Django</td>
                <td>Unfinished</td>
                <td><a href="https://github.com/StefanGriffin"> GitHub </a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>JavaScript</td>
                <td>React js</td>
                <td>Unfinished</td>
                <td><a href="https://github.com/StefanGriffin"> GitHub </a></td>
              </tr>
             
    </body>
</html>
<br>
<br>
{% endblock content %}